/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}*/
body {    
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;    
    height: 100%;
    max-height: 100%;
    max-width: 100%;  
}
.lgn {
    min-width: 400px;
}
.user table {
    min-width: 700px;
    width: 100%;
}
.user table thead tr th,.user table tbody tr td {
    text-align: center;    
}
.user table tbody tr:nth-child(odd) {
   background: #F5F5F5; 
}
.user table thead tr  {
    background: #2196F3;
    color: white;
    height: 65px;
}
#testTable table tbody tr {
    height: 185px;
}
.user table tbody tr td a {
    text-decoration: none;
}
.user table tbody tr {
    margin: 1px;
    background: white;
}
.suspend.md-raised {
    color: #FDD835;
}
.delete.md-raised {
    color: #F44336;
}
.accept.md-raised {
    color: green;
}
.mySearch {
    height: 30px;
    margin-top: 6px;
    padding-right: 30px;    
}
.searchIcon.md-icon-button {    
    margin-left: -37px;    
}
.minhgt {
    min-height: 100%;
}
.leads_bttn {
    text-transform: none; 
}
.lable_clr {
    color: rgba(0,0,0,0.38);
}
md-input-container label span.lacs_per_user {
    color: orange;
}
md-menu-bar {
    padding: 0px;
}
.postn {
    position: relative;
}
.dialog_width {
    width: 500px;
}
.leads_toolbar {
    margin-top: 8px;
}
.tbl_chkbx ._md-container {
    top: 85%;
}
.flex {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    box-sizing: border-box;
}
.ccode {
    z-index: 0;
}
#mblnm_label{
    margin-left: 5px;
}
#ccode_afterselect {
    margin-top: 30px;
    margin-left: -67px;
    width: 50px;
    font-size: 1.0625em;
}
.mblno_container {
    margin-left: 10px;
    width: 100%;
}
.ccode ._md-select-value>span:not(._md-select-icon) ._md-text {
    display: none;
}
.validation-messages {
    color: #dd2c00;
}
md-toast { 
    position: fixed;
    margin-left: 30%;
    text-align: center;
    width: 40%; 
    animation:ease,fade_out 3s;
    animation-fill-mode: both;
}
@keyframes fade_out{
    0%{opacity:1;}
    100%{opacity:0}
}
.menu_cls {
    color: white;
}
.menu_cls:hover{
    background:  #1E88E5;
}
.menu_cls.active {
    color: black;
}
#prfPic {
    border-radius: 50%;
    margin: 0px 10px;
    position: absolute;
    overflow: hidden;
    top: 78px;
    width: 100px;
    height: 100px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
.prfPrntDiv {
    margin-top: 40px;
}
.prflPrntDiv {
    height: auto;
    min-height: 100%;
    background: lavender;
}
.prflPrntDiv md-white-frame {
    background: white;
}
.subhead {
    font-size: 1.25em;
}
h3.dighead {
    font-size: 1em;
}
p span {
    font-size: 1.0625em;
    font-weight: 500;
}
.hdrtlbr {
    font-size: 1.25em;
}
#toastContainer.md-toolbar-tools {
    font-size: 1.25em;
}
.logo h1{
    font-size: 1em !important;
}
#footer.md-toolbar-tools {
    font-size: 1.25em;
}
.hdrtlbr .md-toolbar-tools div span{
    font-size: 1.0625em;
}
.empTbl thead tr th,.empTbl tbody tr td,.rcpTbl thead tr th,.rcpTbl tbody tr td,.leadstbl thead tr th,.leadstbl tbody tr td{
    font-size: 1.0625em;
}
.errClr {
    color:rgb(221,44,0);
}
p i {
    margin-right: 8px;
}

.icon {
    color: #9E9E9E;
    vertical-align: bottom;
}
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54) !important;
}
.material-icons.md-18 {
    font-size: 18px; 
}
.md-24 {
    font-size: 24px; 
}
.md-icon-button i {
    vertical-align: baseline;
}
.logo h1 a:hover{
    color: white;
}
#insert_photo {
    position: absolute;    
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    top: 78px;
    left: 10px;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
}
#insert_photo:hover {
    opacity: 1;    
}
#insert_photo:hover  .pic1stHalf {
    top: 0px; 
    opacity: 1;
}
#insert_photo:hover  .close_photo { 
    top: 0px;      
    opacity: 1;
}
.pic1stHalf {    
    width: 100px;
    height: 52px;
    top: -50px;         
    background: rgba(255,255,255,.75);
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,.75);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    opacity: 0;
    -webkit-transition: top .2s ease-in,opacity .2s ease-in;
    transition: top .2s ease-in,opacity .2s ease-in;
}
.close_photo {
    width: 100px;
    height: 52px;
    top: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;    
    background: rgba(255,255,255,.75);
    position: relative;    
    opacity: 0;
    -webkit-transition: top .2s ease-in,opacity .2s ease-in;
    transition: top .2s ease-in,opacity .2s ease-in;
}
#iconAnchor {
    width: 100%;
    height: 100%;
    display: table;
    text-decoration: none;
    color: inherit;
    outline: none;
}
#prfPic_upload {
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;    
    opacity: 0;    
    cursor: pointer;    
}
.icon-insert_photo{
    display: table-cell;
    vertical-align: middle;
    color: rgba(0,0,0,.5);    
}
a .md-dark {
    color: rgba(0, 0, 0, 0.54);
}
@media all and (max-width:600px) {
    body {
        font-size: 12px;        
        line-height: 15px;                     
    }
    .lgn {
        min-width: 280px;
        width: 280px;
    }    
    .user div {
        overflow: auto;
    }     
    .user table {
        min-width: 260px;
        width: 100%;
        display: block;        
    }
    #testTable  thead th,#testTable  tbody th{
        width: 130px;
    }
    .leads_bttn {
        text-transform: none;
    }
    md-radio-group.mrgn_btm  md-radio-button{
        margin-bottom: 16px;
    }
    md-toast{ 
        position: fixed;
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }
    #prfPic {
        border-radius: 50%;
        margin: 0px 7px;
        position: absolute;
        top: 60px;
        width: 66px;
        height: 66px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    }
    .prfPrntDiv {
        margin-top: 45px;
    }
    .mrgn_bttm {
        margin-bottom: 10px;
    }
    .prflPrntDiv {
        height: auto;
    }
    #ccode_afterselect {
        margin-top: 30px;
        margin-left: -56px;
        width: 45px;        
    }
    #insert_photo {
        position: absolute;    
        width: 66px;
        height: 66px;
        overflow: hidden;
        border-radius: 50%;
        top: 60px;
        left: 7px;
        opacity: 0;
        text-align: center;
        -webkit-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in;
    }
    #insert_photo:hover  .pic1stHalf { 
        width: 68px;
        height: 34px;
        top: 0px; 
        left: 0px;
        border-top-right-radius: 47px;
        border-top-left-radius: 47px;   
        background: rgba(255,255,255,.75);
        position: relative;
        opacity: 0.7;
    }
    #insert_photo:hover  .close_photo {
        width: 68px;
        height: 34px;
        top: 0px;
        left: 0px;
        border-bottom-right-radius: 47px;
        border-bottom-left-radius: 47px;    
        background: rgba(255,255,255,.75);
        position: relative;    
        opacity: 0.7;
    }
}
@media all and (min-width:600px) and (max-width:960px) {
    body {
        font-size: 14px;        
        line-height: 20px;            
    }
    .user div {
        overflow: auto;
    }     
    .user table {
        min-width: 500px;
        width:100%;        
    }    
    #testTable  thead th,#testTable  tbody th{
        width: 130px;        
    }
    md-toast{ 
        position: fixed;
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }
    .mrgn_bttm {
    margin-bottom: 20px;
    }
    #prfPic {
        border-radius: 50%;
        margin: 0px 10px;
        position: absolute;
        top: 58px;
        width: 80px;
        height: 80px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    }
    .prfPrntDiv {
        padding-top: 23px;
    }
    .prfPrntDiv {
        margin-top: 40px;
    }
    .prflPrntDiv {
        height: auto;
    }
    #insert_photo {
        position: absolute;    
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;
        top: 58px;
        left: 10px;
        opacity: 0;
        text-align: center;
        -webkit-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in;
    }
    #insert_photo:hover .pic1stHalf { 
        width: 80px;
        height: 40px;
        top: 0px; 
        left: 0px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;   
        background: rgba(255,255,255,.75);
        position: relative;
        opacity: 0.7;
    }
    #insert_photo:hover .close_photo {
        width: 80px;
        height: 40px;
        top: 0px;
        left: 0px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;    
        background: rgba(255,255,255,.75);
        position: relative;    
        opacity: 0.7;
    }
}
@media all and (min-width:960px) and (max-width:1280px) {
   body {
        font-size: 16px;        
        line-height: 24px;            
    }
    #prfPic {
        border-radius: 50%;
        margin: 0px 10px;
        position: absolute;
        top: 80px;
        width: 90px;
        height: 90px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    }
    .prflPrntDiv {
        height: auto;
        min-height: 100%;
    }
    #insert_photo {        
        position: absolute;    
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
        top: 80px;
        left: 10px;
        opacity: 0;
        text-align: center;
        -webkit-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in;
    }
    #insert_photo:hover  .pic1stHalf { 
        width: 90px;
        height: 48px;
        top: 0px; 
        left: 0px;
        border-top-right-radius: 48px;
        border-top-left-radius: 48px;   
        background: rgba(255,255,255,.75);
        position: relative;
        opacity: 0.7;
}
    #insert_photo:hover  .close_photo {
        width: 90px;
        height: 48px;
        top: 0px;
        left: 0px;
        border-bottom-right-radius: 48px;
        border-bottom-left-radius: 48px;    
        background: rgba(255,255,255,.75);
        position: relative;    
        opacity: 0.7;
    }
}
@media all and (min-width:1367px) and (max-width:1920px) {
    body {
        font-size: 16px;        
        line-height: 24px;    
        height: 100%;
        max-height: 100%;
        max-width: 100%;  
    }
    #prfPic {
        border-radius: 50%;
        margin: 0px 10px;
        position: absolute;
        top: 75px;
        width: 100px;
        height: 100px;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
    }
    #insert_photo {
        position: absolute;    
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        top: 75px;
        left: 10px;
        opacity: 0;
        text-align: center;
        -webkit-transition: opacity .2s ease-in;
        transition: opacity .2s ease-in;
    }    
    .prfPrntDiv {
        margin-top: 40px;
    }
    .prflPrntDiv {
        height: auto;
        min-height: 100%;
    }
}
