md-content {
	overflow: hidden;
}
body {
	font-size: 14px;
	font-family: "noto";
        
}
.lgn {
	min-width: 500px;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table {
    min-width: 700px;
    width: 100%;
}
th,td {
    text-align: center;
}
th {
    background: #2196F3;
}
.minhgt {
    min-height: 100%;
}
.leads_bttn {
    text-transform: none;
    font-size: 0.8em;
}
.lable_clr {
    color: rgba(0,0,0,0.38);
}
md-input-container label span.lacs_per_user {
    color: orange;
}
@media all and (max-width:600px) {
    .lgn {
	min-width: 280px;
        width: 280px;
    }
    table {
	min-width: 300px;
        width: 100%;
    }
    body {
        overflow-x: hidden;
    }
    .leads_bttn {
    text-transform: none;
    font-size: 0.6em;
    letter-spacing: normal;
}
}
@media all and (min-width:600px) and (max-width:960px) {
    table {
	min-width: 500px;
        width:100%;
    }
}
