
body {
    font-size: 14px;
    font-family: "noto";
    line-height: 24px;    
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    
}
.lgn {
    min-width: 400px;
}
.user table {
    min-width: 700px;
    width: 100%;
}
.user table thead tr th,.user table tbody tr td {
    text-align: center;    
}
.user table tbody tr:nth-child(odd) {
   background: #F5F5F5; 
}
.user table thead tr  {
    background: #2196F3;
    color: white;
    height: 65px;
}
#testTable table tbody tr {
    height: 185px;
}
.user table tbody tr td a {
    text-decoration: none;
}
.user table tbody tr {
    margin: 1px;
    background: white;
}
.suspend.md-raised {
    color: #FDD835;
}
.delete.md-raised {
    color: #F44336;
}
.accept.md-raised {
    color: green;
}
.mySearch {
    height: 30px;
    margin-top: 6px;
    padding-right: 30px;    
}
.searchIcon.md-icon-button {    
    margin-left: -37px;    
}
.minhgt {
    min-height: 100%;
}
.leads_bttn {
    text-transform: none; 
}
.lable_clr {
    color: rgba(0,0,0,0.38);
}
md-input-container label span.lacs_per_user {
    color: orange;
}
md-menu-bar {
    padding: 0px;
}
.postn {
    position: relative;
}
.dialog_width {
    width: 500px;
}
.leads_toolbar {
    margin-top: 8px;
}
.tbl_chkbx ._md-container {
    top: 85%;
}
 .flex {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    box-sizing: border-box;
}
/* .flex-8 {
    -webkit-flex: 1 1 8%;
    -ms-flex: 1 1 8%;
    flex: 1 1 8%;
    box-sizing: border-box;
}
 .flex-9 {
    -webkit-flex: 1 1 9%;
    -ms-flex: 1 1 9%;
    flex: 1 1 9%;
    box-sizing: border-box;
}*/
/*.layout-row .flex-20 {
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  max-width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}
.layout-row .flex-33 {
  -webkit-flex: 1 1 calc(100% / 3);
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  box-sizing: border-box;
}
.layout-row .flex-45 {
  -webkit-flex: 1 1 45%;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  max-width: 45%;
  max-height: 100%;
  box-sizing: border-box;
}*/

.ccode {
    z-index: 0;
}
#mblnm_label{
    margin-left: 5px;
}
#ccode_afterselect {
    margin-top: 30px;
    margin-left: -60px;
    width: 50px;
}
.mblno_container {
    margin-left: 10px;
    width: 100%;
}
.ccode ._md-select-value>span:not(._md-select-icon) ._md-text {
    display: none;
}
.validation-messages {
    color: #dd2c00;
}
md-toast { 
    position: fixed;
    margin-left: 30%;
    text-align: center;
    width: 40%; 
    animation:ease,fade_out 5s;
    animation-fill-mode: both;
}
@keyframes fade_out{
    0%{opacity:1;}
    100%{opacity:0}
}
.menu_cls {
    color: white;
}
.menu_cls:hover{
    color: black;
}
.menu_cls.active {
    color: black;
}
@media all and (max-width:600px) {
    .lgn {
        min-width: 280px;
        width: 280px;
    }
    .user {
        overflow: auto;
    }
    .user div {
        overflow: auto;
    }
    .user table {
        min-width: 260px;
        width: 100%;
        display: block;
        overflow: auto;
    }
    #testTable  thead th,#testTable  tbody th{
        width: 130px;
    }
    .leads_bttn {
        text-transform: none;
    }
    md-radio-group.mrgn_btm  md-radio-button{
        margin-bottom: 16px;
    }
    md-toast{ 
        position: fixed;
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }
}
@media all and (min-width:600px) and (max-width:960px) {
    .user {
        overflow: auto;
    }
    .user div {
        overflow: auto;
    }
    .user table {
        min-width: 500px;
        width:100%;        
    }    
    #testTable  thead th,#testTable  tbody th{
        width: 130px;        
    }
    md-toast{ 
        position: fixed;
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }    
}
