
body {
    font-size: 14px;
    font-family: "noto";
}
.lgn {
    min-width: 400px;
}
.user table  {
/*    border: 1px solid black;*/
/*    border-collapse: collapse;*/
/*    padding: 5px;*/
}
.user table {
    min-width: 700px;
    width: 100%;
}
.user table thead tr th,.user table tbody tr td {
    text-align: center;    
}
.user table thead tr th {
    background: #2196F3;
    color: white;
}
.user table tbody tr {
/*    box-shadow: 0px 0px 5px 0.5px grey;*/
    margin: 4px;
    background: white;
}
.user table tbody tr:hover {
    background: #BDBDBD;
/*    border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    margin-bottom: 2px;
}
.suspend.md-raised {
    color: #FDD835;
}
.delete.md-raised {
    color: #F44336;
}
.accept.md-raised {
    color: green;
}
.mySearch {
    height: 30px;
    margin-top: 6px;
    padding-right: 30px;    
}
.searchIcon.md-icon-button {    
    margin-left: -37px;    
}
.minhgt {
    min-height: 100%;
}
.leads_bttn {
    text-transform: none; 
}
.lable_clr {
    color: rgba(0,0,0,0.38);
}
md-input-container label span.lacs_per_user {
    color: orange;
}
md-menu-bar {
    padding: 0px;
}
.postn {
    position: relative;
}
.dialog_width {
    width: 500px;
}
.leads_toolbar {
    margin-top: 8px;
}
.flex {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    box-sizing: border-box;
}
.ccode {
    z-index: 0;
}
#mblnm_label{
    margin-left: 5px;
}
#ccode_afterselect {
    margin-top: 30px;
    margin-left: -60px;
    width: 50px;
}
.mblno_container {
    margin-left: 10px;
    width: 100%;
}
.ccode ._md-select-value>span:not(._md-select-icon) ._md-text {
    display: none;
}
.validation-messages {
    color: #dd2c00;
}
md-toast { 
position: fixed;
margin-left: 30%;
text-align: center;
width: 40%; 
    animation:ease,fade_out 5s;
    animation-fill-mode: both;
}
@keyframes fade_out{
    0%{opacity:1;}
    100%{opacity:0}
}
.menu_cls {
    color: white;
}
.menu_cls:hover{
    color: black;
}
.menu_cls.active {
    color: black;
}
@media all and (max-width:600px) {
    .lgn {
        min-width: 280px;
        width: 280px;
    }
    .user table {
        min-width: 260px;
        width: 100%;
    }
    .leads_bttn {
        text-transform: none;

    }
    md-radio-group.mrgn_btm  md-radio-button{
        margin-bottom: 16px;
    }
    md-toast{ 
        position: fixed;
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }
}
@media all and (min-width:600px) and (max-width:960px) {
    .user table {
        min-width: 500px;
        width:100%;
    }
    md-toast{ 
        position: fixed;
        margin-left: 25%;
        text-align: center;
        width: 50%;
    }
}
